*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
a:hover{
	text-decoration: none;
}
body{
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
/* header */
header{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.top-head{
	text-align: right;
	padding: 15px 0;
}
.top-head ul li{
	list-style-type: none;
	display: inline-block;
}
.top-head ul li a{
	color: #fff;
	display: inline-block;
	padding: 0 8px;
	font-size: 12px;
}
.topbar-left-content{
	display: inline-block;
	padding-right: 20px;
}
.topbar-right-content{
	display: inline-block;
}
.topbar-right-content ul li a i{
	font-size: 16px;
}
.topbar-left-content ul li+li:before{
	content: '|';
	color: #fff;

}
.logo a img{
	height: 65px;
}
.menu-site{
	text-align: right;
	padding-top: 20px;
}
.menu-site ul li{
	list-style-type: none;
}
.menu-site .main-menu li{
	display: inline-block;
	padding: 0 10px;
}
.menu-site .main-menu li a{
	color: #fff;
	font-size: 15px;
    font-weight: 600;
    display: inline-block;
    transition: all .2s;
}
.menu-site .main-menu li:hover a{
	border-bottom: 3px solid #1cc8d0;
}
/* home */
.slide-home-bn{
	position: relative;
}
.slide-home-bn .owl-nav .owl-prev{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.slide-home-bn .owl-nav .owl-next{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.owl-nav button{
	outline: none!important;
}
.slide-home-bn .owl-nav button i{
	font-size: 50px;
	color: #fff;
}
.slide-home-bn .owl-dots{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}
.owl-nav button:hover{
	background: none!important;
}
.slide-home-bn .item{
	height: 600px;
}
.slide-home-bn .item img{
	height: 100%;
	-o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.pro-item{
	overflow: hidden;
	border-radius: 20px;
	margin: 15px 0;
}
.pro-item .appboxtop{
	background-color: #ffff;
	background-repeat: no-repeat;
	background-position: top center;
	display: block;
    width: 100%;
    height: 260px;
    background-size: 100%;

}
.appboxbtm{
	text-align: center;
    padding: 10px 20px;
    background-color: #1cc8d0;
    box-sizing: border-box;
}
.appboxbtm label {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.appboxbtm ul {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.appboxbtm li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.appboxbtm a.app01 {
    background: url(../img/apps_icon_1.png) no-repeat 0 0 #ffffff;
}
.appboxbtm a.app02 {
    background: url(../img//apps_icon_2.png) no-repeat 0 0 #ffffff;
}
.appboxbtm a.app03 {
    background: url(../img/apps_icon_3.png) no-repeat 0 0 #ffffff;
}
.appboxbtm a {
    display: block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-indent: -999999px;
}
.appboxbtm a:hover {
    background-position: 0 -50px;
    background-color: #20eff9;
}
.appboxmid .shortdesc {
    font-size: 14px;
    color: #1cc8d0;
    line-height: 20px;
    min-height: 90px;
    display: block;
}
.appboxmid a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #1cc8d0;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}
.appboxmid{
	text-align: center;
	padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.title-home  h2{
	color: #1e7692;
	font-size: 48px;
    font-weight: 300;
    line-height: 70px;
}
.title-home p{
	font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}
.content-box .info{
	padding-top: 80px;
}
.content-box .info h3{
	color: #2d6ba4;
	font-size: 30px;
	line-height: 32px;
}
.content-box .info p{
	font-weight: 300;
    line-height: 24px;
    color: #4c4c4c;
    font-size: 18px;
}
.content-box .info a{
	color:#ffffff;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-repeat: repeat-x;
    background-size: 200%;
    background-color: #20eff9;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 35px;
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0 50px 0;
}
.out-app{
	background: radial-gradient(ellipse at center, #1abbc3 1%, #0c3865 100%);
	padding: 40px 0;
}
.out-app .title-home h2{
	color: #fff;
}
.out-app .title-home p{
	color: #fff;
}
.col-left {
	text-align: right;
}
.features-item{
	padding: 15px 0;
}
.features-item h3{
	color: #2d6ba4;
	font-size: 30px;
	line-height: 32px
}
.features-item p{
	font-weight: 300;
    line-height: 24px;
    color: #4c4c4c;
    font-size: 18px;
}
.features{
	padding: 40px 0;
}
.features .row{
	padding-top: 40px;
}
/* footer */
.email-info{
	background: radial-gradient(ellipse at center, #1abbc3 1%, #0c3865 100%);
	padding: 40px 0;
}
.email-info .title-home h2, .email-info .title-home p{
	color: #fff;
}
.email-info form{
	position: relative;
	width: 50%;
	border-radius: 25px;
	overflow: hidden;
	display: block;
	margin: 40px auto;
}
.email-info form button{
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	background: none;
	box-shadow: none;
	border: none;
	font-size: 30px;
    padding-right: 20px;
    color: #757575;
}
.email-info form input{
	color: #818181;
	box-shadow: none;
	border: none;
	height: 50px;
	font-size: 19px;
}
.social-ft{
	text-align: center;
}
.social-ft li{
	display: inline-block;
	padding: 0 5px;
}
.social-ft li a img{
	width: 45px;
}
.ft{
	padding: 40px 0;
	color: #999999;
	line-height: 24px;
}
.footer_menu{
	text-align: right;
}
.footer_menu ul li{
	display: inline-block;
	padding: 0 15px;
}
.footer_menu ul li a{
	color: #888888;
}
/* about */
.bn-about{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 250px 0;
	position: relative;
}
.bn-about h1{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 90px;
    font-weight: 700;
    line-height: 72px;
    color: #fff;
}
.bn-about h1 span{
	display: block;
	line-height: 50px;
	font-weight: 400;
	font-size: 44px
}
.about-box{
	padding:50px 0;
	position: relative;
}
.about-box h2{
	color: #1cc8d0;
	font-size: 48px;
    font-weight: 300;
    line-height: 70px;
}
.about-box p{
	font-size: 18px;
	font-weight: 300;
}
.about-box:after{
	content: "";
    position: absolute;
    display: inline-block;
    border: 20px solid transparent;
    top: 100%;
    z-index: 999;
    left: 50%;
    margin-left: -22px;
    border-top-color: #ffffff;
}
.bg-parallax{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 100px 0;

}
.slide-about{
	position: relative;
}
.slide-about .slide-about-item{
	background-color: #fff;
	border-radius: 4px;
    padding: 25px 30px 30px;
    text-align: center;
}
.slide-about .slide-about-item p{
	font-size: 22px;
    color: #1cc8d0;
    font-weight: 300;
}
.slide-about .owl-nav .owl-prev{
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translateY(-50%);
}
.slide-about .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%);
}
.slide-about .owl-nav button i{
	display: inline-block;
	background-color: rgba(28, 200, 208, 0.8);
	color: #fff;
	font-size: 22px;
	padding: 8px 15px;
    border-radius: 100%;
}
.tab-about .nav-tabs{
	text-align: center;
	border: none;
}
.tab-about .nav-tabs>li{
	float: none;
	display: inline-block;
	width: 33%;
	background-color: #fafafa;
}
.tab-about .nav-tabs>li>a{
	font-size: 30px;
	color: #137994;
	font-weight: 300;
	padding: 20px;
	border: none;
	margin: 0;
}
.tab-about .nav-tabs>li.active>a, .tab-about .nav-tabs>li.active>a:focus,.tab-about .nav-tabs>li.active>a:hover{
	border: none;
}
.tab-about .tab-pane h3{
	font-size: 36px;
    font-weight: 300;
    color: #2d2d2d;
}
.tab-about .tab-pane p{
	font-size: 18px;
	font-weight: 300;
    color: #2d2d2d;
    margin: 25px 0;
}
.tab-about{
	padding-bottom: 50px;
}
/* product */
.product{
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 135px;
}
.product .out-app{
	background: none;
}
/* education */
.education-content form input, .education-content form select{
	border-radius: 0;
	border: 1px solid #e8e8e8;
	height: 45px;
	box-shadow: none;
}
.education-content form textarea{
	height: 120px;
	border-radius: 0;
	border: 1px solid #e8e8e8;
	box-shadow: none;
}
.education-content form input[type=checkbox]{
	height: auto;
}
.education-content form button{
	background-color: #1cc8d0;
	color: #fff;
	padding: 15px 25px;
    border-radius: 35px;
    font-weight: 400;
    font-size: 16px;
}
.workwithus-content{
	padding:50px 0;
}
.workwithus-content p{
	font-size: 18px;
	font-weight: 300;
}
.toggle-item{
    border-bottom: 1px solid #ddd;
}
.toggle-item .toggle-title h4{
	font-size: 15px;
    color: #333;
    padding: 18px 0;
    margin: 0;
}
.toggle-item .toggle-title h4 .plus:after{
	content: "\f055";
	font-family: FontAwesome;
	color: #1cc8d0;
	font-size: 18px;
}
.toggle-item .toggle-title h4 .plus{
	float: right;
}
.toggle-content{
	display: none;
	padding: 20px 0;
}

.toggle-content .column-text {
	font-size: 18px;
	font-weight: 300;
}
.slide-video{
	position: relative;
}
.slide-video .owl-nav .owl-prev{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.slide-video .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.slide-video .owl-nav button i{
	color: #fff;
	font-size: 22px;
	background-color: #49d3d9;
	padding: 8px 15px;
	border-radius: 100%;
}
.toggle-item .toggle-title h4.active .plus:after{
	content: "\f056";
}
.contact{
	padding-top: 40px;
}
.partner{
	margin-top: 50px;
}

.bg-grey-help {
	background-color: #f5f5f5;
	text-align: center;
	padding: 50px 0;
}
.bg-grey-help h2{
	font-size: 48px;
    font-weight: 300;
    line-height: 70px;
}
.bg-grey-help p{
	font-size: 18px;
	font-weight: 300;
}
/* news */

.post-meta-cats a{
	color: #1cc8d0;
	text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    border-right: thin solid #ccc;
    padding-right: 10px;
}
.post-meta-date{
	color: #aaa;
	font-size: 12px;
	padding-left: 10px;
	display: inline-block;
}
.post-meta-data{
	padding: 15px 0;
}
.new-item h2{
	font-size: 48px;
    font-weight: 300;
    line-height: 70px;
    margin-top: 0;
}
.new-item h2 a{
	color: #222;
}
.new-item p{
	color: #222;
	font-size: 18px;
	font-weight: 300;
}
.new-item>a{
	display: inline-block;
	padding: 10px 20px;
	border-radius: 30px;
	color:#1cc8d0;
	font-weight: bold;
	font-size: 12px;
	border: thin solid #1cc8d0;
	margin-top: 30px;
}
.new-item{
	border-bottom: 1px solid #d8d8d8;
	padding: 50px 0;
}
.sidebar{
	padding-top: 50px;
	padding-left: 30px;
}
.sidebar form{
	position: relative;
}
.sidebar form input{
	font-size: 13px;
    color: #aaa;
    box-shadow: none;
    height: 45px;
    border-radius: 0;
    border: 1px solid #e8e8e8;
}
.sidebar form button{
	position: absolute;
	bottom: 0;
	top: 0;
	right: 10px;
	background: none;
	box-shadow: none;
	border: none;
	color: #999;

}
.recent-posts{
	padding: 25px 0;
}
.recent-posts ul li{
	list-style-type: none;
}
.recent-posts ul li a{
	color: #222;
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
	padding: 7px 0;
}
.recent-posts h4{
	margin-bottom: 20px
}

.wp-pagenavi{
    padding-top: 15px;
    margin: 20px 0;
    text-align: center;
}
.wp-pagenavi a{
    display: inline-block;
    padding: 6px 12px;
    color: #1cc8d0;
    border: #1cc8d0 thin solid;
    border-radius: 3px;
}
.wp-pagenavi a:hover{
    color: #fff;
    background-color: #1cc8d0;
}
.wp-pagenavi span{
    display: inline-block;
    padding: 6px 12px;
    color: #fff;
    background-color: #1cc8d0;
    border: #1cc8d0 thin solid;
    border-radius: 3px;
}
/* single */
.header-blue{
	position: static;
}
.header-blue .top-head ul li a{
	color: #777777;
}
.header-blue .menu-site .main-menu li a{
	color: #1cc8d0;
}
.header-blue .topbar-left-content ul li+li:before{
	color: #777777;
}
.title-single{
	background-color: #f7f7f7;
	padding: 50px 0
}
#breadcrumbs{
	text-align: right;
	padding-top: 15px;
}
#breadcrumbs span{
	padding: 0 2px;
    color: #999;
    font-size: 12px;
    font-weight: 300;
}
.title-single h1{
	margin: 0;
	font-size: 44px;
	color: #fff;
	text-transform: uppercase;
}
.single-content h2{
	color: #222;
	font-size: 48px;
    font-weight: 300;
    line-height: 70px;
    margin-top: 0;
}
.single-content p{
	font-size: 18px;
	font-weight: 300;
}
.single-content img{
	padding-bottom: 20px;
}
.share{
	overflow: hidden;
	    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    margin-top: 40px;

}
.social-share{
	float: right;
}
.social-share a{
	color: #666;
	display: inline-block;
	padding: 0 5px;
	font-size: 16px;
}
.late-news{
	overflow: hidden;
	padding: 30px 0
}
.late-news .news-prev{
	float: left;
	width: 50%;
}
.late-news .news-next{
	float: right;
	width: 50%;
	text-align: right;
}
.late-news .news-prev a, .late-news .news-next a{
	color: #999;
	position: relative;
	display: inline-block;
}
.late-news .news-prev a i, .late-news .news-next a i{
	font-size: 60px;
}
.late-news .news-next a i{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.late-news .news-prev a i{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.late-news a>div{
	padding: 0 30px ;
}
.single{
	padding-top: 50px;
}
@media screen and (max-width: 991px) {
    .menu-box{
        position: fixed;
        left:0;
        top:0;
        right:0;
        width: 0;
        height:100vh;
        z-index: 999;
        transition: all 0.3s;
        overflow: hidden;
    }
    .menu-box .bg-menu{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 98;
    }
    .menu-box .main-menu{
        position: relative;
        z-index: 99;
        width: 250px;
        max-width: 95%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        float: left;
        background-color: #257a95;
    }
    .menu-box .btn-hide-menu{
        position: relative;
        z-index: 99;
        color: #fff;
    }
    .menu-box .main-menu>li{
        display: block;
        width: 100%;
        border-bottom: #fff thin solid;
        text-align: left;
        padding: 0;
    }
    .menu-box .main-menu>li>span{
        display: none;
    }
    .menu-box .main-menu>li>a{
        padding: 7px 10px;
        color: #fff;
        display: block;
    }
    .main-menu li:hover>a,.main-menu li.current-menu-item>a{
        background-color: #fff;
        color: #402814;
    }
	.main-menu .sub-menu{
        border-top: #ccc thin dotted;
        padding-left: 10px;
    } 
    .main-menu li.menu-item-has-children>a{
        position: relative;
        padding-right: 40px;
    }
    .menu-site .btn-show-menu{
    	background: none;
    	border-radius: 0;
    	border: thin solid #fff;
    	color: #fff;
    }
    .top-head{
		text-align: center;
    }
    .topbar-left-content{
    	padding: 0;
    }
    .top-head ul li a{
    	padding: 0 5px;
    }
    .header-blue .menu-site .btn-show-menu{
    	color: #1cc8d0;
    	border: thin solid #1cc8d0;
    }
    #breadcrumbs{
    	text-align: left;
    }
    .sidebar{
    	padding-left: 0;
    }
  
} 
@media screen and (min-width: 768px) and (max-width: 991px) {
	.tab-about .nav-tabs>li{
		width: 32%;
	}
}
@media screen and (max-width: 767px) {
	.content-box .info{
		padding: 0;
	}
	.col-left{
		text-align: left;
	}
	.email-info form{
		width: 100%;
	}
	.social-ft li a img{
		width: 40px;
	}
	.footer_menu{
		text-align: left;
	}
	.footer_menu ul li{
		display: block;
		padding: 0;
	}
	.bn-about h1{
		font-size: 45px;
	}
	.bn-about h1 span{
		font-size: 36px;
	}
	.bn-about{
		padding: 200px 0;
	}
	.workwithus-content{
		padding: 20px 0;
	}
	.tab-about .nav-tabs>li{
		width: 32%;
		display: flex;
		align-items: center;
	}
	.tab-about .nav-tabs>li>a{
		font-size: 21px;
		padding: 10px;
	}
	.tab-about .nav-tabs{
		display: flex;
	}

}
.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.margin-x-xs { margin: .25em 0; }
.margin-x-sm { margin: .5em 0; }
.margin-x-md { margin: 1em 0; }
.margin-x-lg { margin: 1.5em 0; }
.margin-x-xl { margin: 3em 0; }

.margin-y-xs { margin: 0 .25em; }
.margin-y-sm { margin: 0 .5em; }
.margin-y-md { margin: 0 1em; }
.margin-y-lg { margin: 0 1.5em; }
.margin-y-xl { margin: 0 3em; }

.margin-top-xs { margin-top: .25em; }
.margin-top-sm { margin-top: .5em; }
.margin-top-md { margin-top: 1em; }
.margin-top-lg { margin-top: 1.5em; }
.margin-top-xl { margin-top: 3em; }

.margin-right-xs { margin-right: .25em; }
.margin-right-sm { margin-right: .5em; }
.margin-right-md { margin-right: 1em; }
.margin-right-lg { margin-right: 1.5em; }
.margin-right-xl { margin-right: 3em; }

.margin-bottom-xs { margin-bottom: .25em; }
.margin-bottom-sm { margin-bottom: .5em; }
.margin-bottom-md { margin-bottom: 1em; }
.margin-bottom-lg { margin-bottom: 1.5em; }
.margin-bottom-xl { margin-bottom: 3em; }

.margin-left-xs { margin-left: .25em; }
.margin-left-sm { margin-left: .5em; }
.margin-left-md { margin-left: 1em; }
.margin-left-lg { margin-left: 1.5em; }
.margin-left-xl { margin-left: 3em; }
